@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$white: #f7f7f7;
$orange: #cd6326;

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}
.header {
  min-height: 780px;
  background: url("../img/header-back.png") 0 0 / cover no-repeat;
  &__items {
    padding: 5px 0 0 0;
    margin: 0 0 130px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logotype {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 15px 0 0;
  }

  &__logo-title {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    color: $white;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__link {
    margin: 0 50px 0 0;
    font-size: 23px;
    color: $white;
  }
  &__link:hover {
    color: $orange;
    text-decoration: underline;
    cursor: pointer;
  }
  &__link:last-child {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    border: 2px solid $orange;
    box-sizing: border-box;
    border-radius: 5px;
  }
  &__link:last-child:hover {
    background: $white;
  }
  &__title {
    margin: 0 0 70px 0;
    font-size: 48px;
    letter-spacing: 2px;
    color: $orange;
  }

  &__text {
    margin: 0 0 50px 0;
    max-width: 280px;
    color: $white;
    font-size: 18px;
    line-height: 27px;
  }

  &__button {
    button {
      padding: 15px 45px;
      max-width: 160px;
      max-height: 60px;
      background: $orange;
      border-radius: 5px;
      color: $white;
      font-size: 23px;
      line-height: 26.95px;
    }
    button:hover {
      background: $white;
      color: $orange;
    }
  }
}
main {
  background: #ccc;
  min-height: 1370px;
}
.main {
  padding: 50px 0 0 0;
  &__title {
    margin: 0 0 30px 0;
    color: #333;
    font-size: 48px;
    text-align: center;
  }
  &__subtitle {
    margin: 0 0 50px 0;
    color: #333;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
  }

  &__text {
    margin: 0 0 180px 0;
    color: #666;
    font-size: 24px;
    text-align: center;
  }

  &__row {
    margin: 0 0 250px 0;
    display: flex;
    align-items: center;
  }

  &__column {
    margin: 0 auto;
    width: 300px;
    height: 360px;
    &_left {
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_right {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_1 {
      background: url("../img/main-img-1.jpg") 0 0 / cover no-repeat;
    }
    &_1:hover {
      box-shadow: 0px 0px 10px #000;
    }

    &_2 {
      background: url("../img/main-img-2.jpg") 0 0 / cover no-repeat;
    }

    &_2:hover {
      box-shadow: 0px 0px 10px #000;
    }

    &_3 {
      background: url("../img/main-img-3.jpg") 0 0 / cover no-repeat;
    }

    &_3:hover {
      box-shadow: 0px 0px 10px #000;
    }
  }

  &__title-column {
    margin: 250px 0 25px 0;
    color: $white;
    font-size: 22px;
    text-align: center;
  }

  &__text-column {
    color: $white;
    font-size: 17px;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__input-text {
    padding: 0 0 0 15px;
    min-height: 60px;
    min-width: 530px;
    border: 1px solid #666;
    border-right: none;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px 0 0 5px;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 23px;
  }

  &__input-text::placeholder {
    color: #666;
    font-family: Roboto, sans-serif;
    font-size: 23px;
  }

  &__input-text:focus {
    background: #f58f54;
  }

  &__button {
    min-height: 60px;
    min-width: 120px;
    background: $orange;
    font-family: Roboto, sans-serif;
    color: $white;
    font-size: 23px;
    border-radius: 0 5px 5px 0;
  }
  &__button:hover {
    background: #da5609;
    color: #fff;
    cursor: pointer;
  }
}
.footer {
  display: flex;

  min-height: 360px;
  background: url(../img/footer-back.png) 0 0 / cover no-repeat;
  &__row {
    margin: 0 auto;
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    margin: 0 50px 0 0;
  }

  &__column:nth-child(2) {
    width: 40%;
  }

  &__column:nth-child(3) {
    margin: 0;
  }

  &__logotype {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 15px 0 0;
  }

  &__logo-title {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    color: $white;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    margin: 0 50px 0 0;
    font-size: 23px;
    text-align: center;
    color: $white;
  }

  &__link:last-child {
    margin: 0;
  }

  &__link:hover {
    color: $orange;
    text-decoration: underline;
    cursor: pointer;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    margin: 0 30px 0 0;
  }

  &__icon:last-child {
    margin: 0;
  }
}
